.delete-btn {
    background-color: $accent-color-2;
    border: $accent-color-2;
  }
  
  .delete-btn:hover {
    background-color: $accent-color-2-hover;
    border: $accent-color-2-hover;
  }
  
  .edit-btn {
    background-color: $accent-color-3;
    border: $accent-color-3;
  }
  
  .edit-btn:hover {
    background-color: $accent-color-3-hover;
    border: $accent-color-3-hover;
  }
  
  .form-btn, #navbar-logout-button, #google-auth {
    background-color: $accent-color-2;
    border: $accent-color-2;
    color: $text-color-secondary;
  }
  
  .form-btn:hover, #navbar-logout-button:hover, #google-auth:hover  {
    background-color: $accent-color-2-hover;
    border: $accent-color-2-hover;
    color: $text-color-secondary;
  }

.card-btn-container {
  margin-bottom: 5px;
}

.add-pin-to-board-btn {
  background-color: $accent-color-1;
  border: $accent-color-1;
  color: $text-color-secondary;
}

.add-pin-to-board-btn:hover {
  background-color: $accent-color-1-hover;
  border: $accent-color-1-hover;
  color: $text-color-secondary;
}
