.delete-btn {
    background-color: $accent-color-2;
    border: $accent-color-2;
  }
  
  .delete-btn:hover {
    background-color: $accent-color-2-hover;
    border: $accent-color-2-hover;
  }
  
  .edit-btn {
    background-color: $accent-color-3;
    border: $accent-color-3;
  }
  
  .edit-btn:hover {
    background-color: $accent-color-3-hover;
    border: $accent-color-3-hover;
  }
  
  .form-btn, #navbar-logout-button, #google-auth {
    background-color: $accent-color-2;
    border: $accent-color-2;
    color: white;
  }
  
  .form-btn:hover, #navbar-logout-button:hover, #google-auth:hover  {
    background-color: $accent-color-2-hover;
    border: $accent-color-2-hover;
    color: white;
  }

.card-btn-container {
  margin-bottom: 5px;
}