.form {
    width: 45%;
    margin: auto;
    margin-top: 100px;
  }

.alert-danger {
  background-color: $accent-color-1-hover;
  border: $accent-color-1-hover;
  color: $text-color-secondary;
}

.alert-success {
  background-color: $accent-color-2;
  border: $accent-color-2;
  color: $text-color-secondary;
}

#collapse-pin-form-container {
  width: 45%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}