$primary-color: #E7D9C1;
$accent-color-1: #60627C;
$accent-color-1-hover: #7b7c8f;
$accent-color-2: #8F9EA2;
$accent-color-2-hover: #6a7f85;
$accent-color-3: #CC9FAA;
$accent-color-3-hover: #b68591;
$text-color: #60627C;
$text-color-secondary: white;

