@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './globals';
@import './components';

body {
  background-color: $primary-color;
  color: $text-color;
  text-align: center;
}

.nav-user-name {
  list-style: none;
  color: $text-color;
  margin-right: 15px;
}

.nav-text, .no-content-text {
  color: $text-color;
}

#auth {
  margin-top: 150px;
}

