@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: peru;
  color: rgb(0, 0, 0);
  text-align: center;
}

#auth {
  margin-top: 150px;
}

.nav-user-name {
  list-style: none;
  color: black;
  margin-right: 15px;
}